{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}  - Erreur 404  {% endblock %}
{% block body %}
    <h1>Page introuvable !</h1>
    <h2>La page que vous recherchez n'hésite pas/plus.</h2>

    <div>
        Vous pouvez revenir sur la page d'accueil en cliquant sur le lien suivant <a href="{{ url('homepage') }}">ici</a>.
    </div>
{% endblock %}
