{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Validation paiement {% endblock  %}
{% block body %}
    <div class="body-content" id="check-order">
        <div class="row">
            <div class="col-lg-12">
                <h1>Validation paiement</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque laborum nulla odio quo ratione sunt? Consectetur consequatur ipsum mollitia repellat ut veniam! Deserunt, eaque et impedit pariatur provident tempore?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <i class="glyphicon glyphicon-file"></i>Télécharger votre/vos billets
                    <a href="{{ path('download-booking') }}" target="_blank" class="btn btn-default pull-right"><i class="glyphicon glyphicon-file"></i> Télécharger le(s) billet(s)</a>
                </h2>
                <h4>Merci de votre commande</h4>
                <p>Vos billets vous ont été envoyés à l'adresse mail que vous avez indiquer précédemment.<br /> Vous pouvez les télécharger via le bouton ci-dessus.</p>
            </div>
        </div>
    </div>
{% endblock %}
