<div class="form-block">
    <h3>Musée du Louvre - le xx Septembre 2016<br />Tarif journée : 16,00 €</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Nom *</label>
                <div class="col-md-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Prénom *</label>
                <div class="col-md-9">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Date de naissance *</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="date" class="form-control">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Pays</label>
                <div class="col-md-9">
                    <select class="form-control">
                        <option value="">Sélectionnez votre pays</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Si vous bénéficiez d'avantage spécial, veuillez cocher cette case <i class="glyphicon glyphicon-info-sign"></i>
                </label>
            </div>
        </div>
    </div>
</div>
